from flask import jsonify
import flask_rest_api as rest
from flask.views import MethodView
from typing import Mapping, Any, Optional, Tuple
import marshmallow as ma
import logging
{% if use_elk %}
import logstash
{% endif %}
{% if use_prometheus %}
from prometheus_client import Summary, Counter
{% elif use_graphite %}
import graphyte
from .metrics import log_request_metrics
{% endif %}

from .model import BaseModel
from .modelrepo import ModelRepo, ModelException
from .schema import {{ project_name }}RequestSchema, {{ project_name }}ResponseSchema
{% if use_pyspark %}
from .spark_util import SparkUtil
{% endif %}

namespace = '{{ project_name }}'
_blp = rest.Blueprint(namespace, __name__)

{% if use_prometheus %}
RESPONSE_TIME = Summary(name='response_time_seconds', documentation='Response time for each request', namespace=namespace)
ERROR_COUNTER = Counter(name='failed_requests', documentation='Failed requests', labelnames=['exception_type'], namespace=namespace)
{% elif use_graphite %}
graphyte.init('{{ module_name }}-graphite-service', prefix='{{ module_name }}')
{% endif %}

logger = logging.getLogger('{{ project_name }}')
logger.setLevel(logging.INFO)
{% if use_elk -%}logger.addHandler(logstash.TCPLogstashHandler('{{ module_name }}-logstash-service', 5959, version=1)){%- endif %}


class _PredictSchema(ma.Schema):
    """
    The schema for POST requests to the prediction method.
    """
    class Meta:
        strict = True

    inputs = ma.fields.Nested({{ project_name }}RequestSchema(many=True), required=True)


class _ResponseSchema({{ project_name }}ResponseSchema):
    """
    The schema for the responses.
    """


@_blp.route('/{{ project_name.lower() }}')
class {{project_name}}App(MethodView):
    """
    Provides the API to instantiate and access {{ project_name }} models.
    """

    def __init__(self):
        super().__init__()
        self._model = None
        {% if use_pyspark %}
        self._spark = SparkUtil().get_spark_session()
        {% endif %}

    def _get_model(self):
        """
        Lazy loaded model
        :return: Model instance
        """
        if self._model is None:
            self._model = ModelRepo().load_model()
        return self._model

    {% if use_prometheus %}
    @RESPONSE_TIME.time()
    {% elif use_graphite %}
    @log_request_metrics('predict')
    {% endif %}
    @_blp.arguments(_PredictSchema)
    @_blp.response(_ResponseSchema)
    def post(self, args):
        """
        Invoke the {{ name }}Model model.
        ---

        Calls underlying model prediction with given output and returns the predictions

        """
        logger.info(f'Querying {{ project_name }} with {args}')
        result = self._get_model().do_predict({% if use_pyspark %}self._spark, {% endif %} args['inputs'])
        return make_response(result, 200)


@_blp.app_errorhandler(ModelException)
def handle_model_exception(ex: ModelException, model: Optional[BaseModel] = None) -> Tuple[Any, int]:
    """
    Sends an error response to the client, and depending on the values in the exception also resets the model.

    :param ex: The exception which was raised.
    :param model: The instance of the model in which the exception was raised, if applicable.

    :return: The Flask Response which contains the error message.
    """
    logger.exception(ex)
    {% if use_prometheus %}
    ERROR_COUNTER.labels(ex.__class__.__name__).inc()
    {% endif %}
    return make_error_response(ex, 400)


def make_response(results: list, status: int) -> Tuple[Any, int]:
    response_data = {
        'results': results
    }
    return jsonify(response_data), status


def make_error_response(ex: Exception, status: int) -> Tuple[Any, int]:
    """
     Formats an API response.

     :param ex: Exception
     :param status: The status code to use in the response.

     :return: The (Flask) Response object.

     """

    response_data = {
        'message': str(ex),
    }
    return jsonify(response_data), status


def get_blp():
    """
    :return: The Blueprint defined in this file.
    """
    return _blp
