apiVersion: v1
kind: Pod
metadata:
  name: {{ project_name.lower() }}-graphite-pod
  labels:
    app: {{ project_name.lower() }}
    type: graphite
spec:
  containers:
    - name: graphite
      image: graphiteapp/graphite-statsd
      ports:
        - containerPort: 80
          hostPort: 8888
        - containerPort: 2003
          hostPort: 2003
        - containerPort: 2004
          hostPort: 2004
        - containerPort: 2023
          hostPort: 2023
        - containerPort: 2024
          hostPort: 2024
        - containerPort: 8125
          hostPort: 8125
        - containerPort: 8126
          hostPort: 8126
      volumeMounts:
        - name: conf-dir
          mountPath: /opt/graphite/conf
  volumes:
    - name: conf-dir
      hostPath:
        path: {{ cwd }}/graphite
