apiVersion: v1
kind: Service
metadata:
  name: {{ project_name.lower() }}-kong-service
spec:
  selector:
    app: {{ project_name.lower() }}
    type: kong
  ports:
    - name: proxy
      protocol: TCP
      port: 8000
      targetPort: 8000
    - name: admin
      protocol: TCP
      port: 8001
      targetPort: 8001