{% if use_pyspark %}
from pyspark.sql import DataFrame
from .spark_util import SparkUtil
{% endif %}

def training_data() -> {% if use_pyspark %}DataFrame{% else %}list{% endif %}:
    {% if use_pyspark %}
    spark = SparkUtil().get_spark_session()
    # TODO Create a spark DataFrame using spark session above and return it
    {% endif %}
    raise NotImplementedError('training_data method has not been implemented yet')


def test_data() -> {% if use_pyspark %}DataFrame{% else %}list{% endif %}:
    {% if use_pyspark %}
    spark = SparkUtil().get_spark_session()
    # TODO Create a spark DataFrame using spark session above and return it
    {% endif %}
    raise NotImplementedError('test_data method has not been implemented yet')
