from abc import ABCMeta, abstractmethod
from .config import version
from .data import test_data

{% if use_pyspark %}
from pyspark.sql import SparkSession
import pandas
{% endif %}


class BaseModel(metaclass=ABCMeta):
    """
    A base class for any kind of model which can be used for prediction.
    """

    def __init__(self, model):
        """

        :param model: Trained model to be used for prediction and test

        """
        assert model is not None, 'Model instance cannot be None'
        self._model = model

    @property
    def model_name(self) -> str:
        """
        :return: The name of this model.
        """
        return type(self).__name__

    @property
    def model_version(self) -> str:
        """
        :return: The model's version string.
        """
        return version

    def get_model(self):
        """
        :return: The underlying model instance.
        """
        return self._model

    @abstractmethod
    def test_model(self) -> list:
        """
        Evaluate fitted model with given test data set

        :return: list of evaluation results.
        """

    @abstractmethod
    def predict(self, inputs) -> list:
        """
        Runs the trained model on the given input, and returns the model's output.
        Both the input and output are in serialized form.

        :param inputs:  input data

        :return: list of predictions

        :exception ModelException: If the prediction cannot be completed,
                                   for example because of erroneous or missing data.

        :exception ModelNotTrainedException: Raised if underlying model is not trained yet.
        """


{% if use_pyspark %}
class SparkModel(BaseModel):

    def test_model(self) -> list:
        test_df = test_data()
        return self._model.transform(test_df).select('prediction').collect()

    def predict(self, inputs) -> list:
        return [x.prediction for x in self._model.transform(inputs).select('prediction').collect()]

{% endif %}

class {{ project_name }}Model({% if use_pyspark %}SparkModel{% else %}BaseModel{% endif %}):

    {% if use_pyspark %}
    def do_predict(self, spark: SparkSession, input_data: list):
        df = pandas.DataFrame(input_data)
        return {'predictions': self.predict(spark.createDataFrame(df))}
    {% else %}
    def do_predict(self, input_data: list):
        return {'predictions': self.predict(input_data)}

    def predict(self, inputs) -> list:
        # TODO Implement model prediction logic here
        raise NotImplementedError('Predict method has not been implemented yet!')

    def test_model(self) -> list:
        test_data_set = test_data()
        # TODO Implement model test logic here
        raise NotImplementedError('test_model method has not been implemented yet!')

    {% endif %}