{% if use_pyspark %}
from pyspark.ml import Pipeline
{% endif %}
from .model import {{ project_name }}Model
from .data import training_data


{% if use_pyspark %}
def build_pipeline() -> Pipeline:
    # TODO implement pyspark.ml.Pipeline here
    raise NotImplementedError('Pipeline has not been implemented yet!')


def train_model() -> {{ project_name }}Model:
    training_df = training_data()
    return {{ project_name }}Model(build_pipeline().fit(training_df))
{% else %}

def train_model() -> {{ project_name }}Model:
    training_data_set = training_data()
    raise NotImplementedError('Please implement model training logic here')
{% endif %}