apiVersion: v1
kind: Service
metadata:
  name: {{ project_name.lower() }}-grafana-service
spec:
  selector:
    app: {{ project_name.lower() }}
    type: grafana
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000